<div class="mt-5">
    <div class="centro col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="card card-container">
            <div class="card-header">Usuários</div>
            <div class="card-body">

                <div class="d-flex space-between">
                    <div>
                        <input type="text" style="padding:8px;" placeholder="Buscar..."
                            (keyup)="updateFilter($event)" />
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Novo</button>
                    </div>
                </div>

                <div class="mt-4">
                    <ngx-datatable #table [rows]="rows" [columns]="columns" [limit]="limit">
                    </ngx-datatable>
                </div>

            </div>
        </div>
    </div>
</div>